// Ref. https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element/53336754#53336754

@use 'solarize' as theme;

.tabular {
  background-color: theme.$content-table-background;
  border-collapse: collapse;
  border: 1px solid theme.$content-table-border;
  display: inline-block; 
  overflow: auto; 
}

.tabular tbody tr:nth-child(odd) {
  background: theme.$content-table-background-odd;
}

.tabular tbody tr:nth-child(even) {
  background: theme.$content-table-background-even;
}

.tabular tbody tr.empty {
  height: 32px;
}

.tabular tbody tr.modified {
  background: theme.$content-table-row-modified;
}

.tabular tbody tr.new {
  background: theme.$content-table-row-new;
}

.tabular th {
  border: 1px solid theme.$content-table-border;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
  font-style: normal;
}

.tabular th.name {
  min-width: 144px;
}

.tabular th.cardnumber {
  min-width: 96px;
}

.tabular th.from {
  min-width: 80px;
}

.tabular th.to {
  min-width: 80px;
}

.tabular th.groups {
  min-width: 160px;
}

.tabular td {
  position:relative;
  border: 1px solid theme.$content-table-border;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  text-align: left;
  font-size: 0.9em;
  font-weight: normal;
  font-style: normal;
}

.tabular td img.flag {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  visibility: hidden;
 }

.tabular td.modified img.flag {
   filter: invert(61%) sepia(14%) saturate(250%) hue-rotate(138deg) brightness(92%) contrast(92%);
   visibility: visible;
}

.tabular td.pending img.flag {
   filter: invert(38%) sepia(78%) saturate(999%) hue-rotate(174deg) brightness(102%) contrast(78%);
   visibility: visible;
}

.tabular td.conflict img.flag {
   filter: invert(56%) sepia(94%) saturate(7076%) hue-rotate(349deg) brightness(95%) contrast(82%);
   visibility: visible;
}

.tabular td.conflict input {
  background-color: theme.$content-table-item-conflict;
}

.tabular td input.name {
  width: 120px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
}

.tabular td input.name:focus {
  border: 1px solid red;
}

.tabular td span.control {
  padding: 0px 0px 0px 0px;
  font-size: 1.5rem;  
  font-weight: bold;
  visibility: visible;
  cursor: pointer;
}

.tabular td span.commit {
  color: theme.$content-table-commit;  
}

.tabular td span.rollback {
  color: theme.$content-table-rollback;  
}

.tabular tbody tr.modified td span.commit {
  visibility: visible;
}

.tabular tbody tr.modified td span.rollback {
  visibility: visible;
}

.tabular tbody tr.new td span.rollback {
  visibility: visible;
}

.tabular td input.cardnumber {
  width: 80px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
}

.tabular td.cardnumber input::-webkit-inner-spin-button, 
.tabular td.cardnumber input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.tabular td.cardnumber input:focus {
  border: 1px solid red;
}

.tabular input.from {
  width: 124px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  font: 400 0.9em Arial;
  outline: none;
}

.tabular td input.from:focus {
  border: 1px solid red;
}

.tabular td input.to {
  width: 124px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  font: 400 0.9em Arial;
  outline: none;
}

.tabular td input.to:focus {
  border: 1px solid red;
}

.tabular td label.group {
  cursor: pointer;  
}

.tabular td label.group input[type="checkbox"] {
  display: none;
}

.tabular td label.group img {
  width: 14px;
  height: 14px;
  padding: 2px;
  margin: auto;
}

.tabular td label.group img.yes {
  display: none;
  filter: invert(42%) sepia(93%) saturate(703%) hue-rotate(35deg) brightness(101%) contrast(101%)
}

.tabular td label.group img.no {
  display: block;
  filter: invert(100%) sepia(30%) saturate(7%) hue-rotate(292deg) brightness(81%) contrast(103%);
}

.tabular td label.group input[type="checkbox"]:checked ~ img.yes {
  display: block;
}

.tabular td label.group input[type="checkbox"]:checked ~ img.no {
  display: none;
}


