@use 'solarize' as theme;

.tabular {
  background-color: theme.$content-table-background;
  border-collapse: collapse;
  border: 1px solid theme.$content-table-border;
}

.tabular tbody tr:nth-child(odd) {
  background: theme.$content-table-background-odd;
}

.tabular tbody tr:nth-child(even) {
  background: theme.$content-table-background-even;
}

.tabular tbody tr[data-edited] {
  background: theme.$content-table-background-edited;
}

.tabular th {
  border: 1px solid theme.$content-table-border;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
  font-style: normal;
}

.tabular td {
  border: 1px solid theme.$content-table-border;
  padding: 0.5rem;
  text-align: left;
  font-size: 0.9em;
  font-weight: normal;
  font-style: normal;
}

.tabular td.name {
  border-right: 0;
}

.tabular td.buttons {
  border-left: 0;
  border-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.tabular td.buttons span {
  padding: 0px 0px 0px 0px;
  font-size: 1.5rem;  
  font-weight: bold;
  visibility: hidden;
  cursor: pointer;
}

.tabular td.buttons span.commit {
  color: theme.$content-table-commit;  
}

.tabular td.buttons span.rollback {
  color: theme.$content-table-rollback;  
}

.tabular tbody tr[data-edited] td.buttons span {
  visibility: visible;
}

.tabular td.group{
  text-align: center;
}

.tabular td.group span {
  padding: 0px 4px 0px 4px;
  user-select: none;
  cursor: pointer;
}

.tabular td.group span[data-value='true'] {
  color: theme.$content-table-yes;
  font-style: normal;
  font-weight: bold;
}

.tabular td.group span[data-value='false'] {
  color: theme.$content-table-no;
  font-style: italic;
  font-weight: 100;
}

.tabular td.group span[data-edited] {
  border: 2px solid red;
  border-radius: 3px;
}

