@use 'solarize' as theme;

.tabular {
  background-color: theme.$content-table-background;
  border-collapse: collapse;
  border: 1px solid theme.$content-table-border;
}

.tabular tbody tr:nth-child(odd) {
  background: theme.$content-table-background-odd;
}

.tabular tbody tr:nth-child(even) {
  background: theme.$content-table-background-even;
}

.tabular tbody tr.empty {
  height: 32px;
}

.tabular tbody tr[data-modified] {
  background: theme.$content-table-row-modified;
}

.tabular th {
  border: 1px solid theme.$content-table-border;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
  font-style: normal;
}

.tabular th.name {
  min-width: 144px;
}

.tabular th.cardnumber {
  min-width: 96px;
}

.tabular th.from {
  min-width: 80px;
}

.tabular th.to {
  min-width: 80px;
}

.tabular th.groups {
  min-width: 160px;
}

.tabular td {
  position:relative;
  border: 1px solid theme.$content-table-border;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  text-align: left;
  font-size: 0.9em;
  font-weight: normal;
  font-style: normal;
}

// Ref. https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element/53336754#53336754
.tabular td img.flag {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 8px;
  height: 8px;
  content: url('http://127.0.0.1:8080/images/star-solid.svg');  
  filter: invert(99%) sepia(14%) saturate(1022%) hue-rotate(322deg) brightness(95%) contrast(95%);
  visibility: hidden;
 }

.tabular td[data-state='modified'] img.flag {
  filter: invert(61%) sepia(14%) saturate(250%) hue-rotate(138deg) brightness(92%) contrast(92%);
  visibility: visible;
 }

.tabular td[data-state='pending'] img.flag {
  filter: invert(38%) sepia(78%) saturate(999%) hue-rotate(174deg) brightness(102%) contrast(78%);
  visibility: visible;
 }

.tabular td[data-state='conflict'] img.flag {
  filter: invert(56%) sepia(94%) saturate(7076%) hue-rotate(349deg) brightness(95%) contrast(82%);
  visibility: visible;
 }

.tabular td.name {
  border-right: 0;
}

.tabular td.name input {
  width: 120px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
}

.tabular td[data-state='conflict'].name input {
  background-color: theme.$content-table-item-conflict;
}

.tabular td.name input:focus {
  border: 1px solid red;
}

.tabular td.controls {
  border-left: 0;
  border-right: 0;
  padding: 0 0.2rem 0 0.2rem;
}

.tabular td.controls span {
  padding: 0px 0px 0px 0px;
  font-size: 1.5rem;  
  font-weight: bold;
  visibility: hidden;
  cursor: pointer;
}

.tabular td.controls span.commit {
  color: theme.$content-table-commit;  
}

.tabular td.controls span.rollback {
  color: theme.$content-table-rollback;  
}

.tabular tbody tr[data-modified] td.controls span.commit {
  visibility: visible;
}

.tabular tbody tr[data-modified] td.controls span.rollback {
  visibility: visible;
}

.tabular tbody tr[data-modified] td.controls span.windmill {
  visibility: visible;
}

.tabular td.cardnumber input {
  width: 80px;
  padding: 2px 4px 2px 4px;
  margin-right: 8px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
}

.tabular td.cardnumber input::-webkit-inner-spin-button, 
.tabular td.cardnumber input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.tabular td[data-state='conflict'].cardnumber input {
  background-color: theme.$content-table-item-conflict;
}

.tabular td.cardnumber input:focus {
  border: 1px solid red;
}

.tabular td.from input {
  width: 120px;
  padding: 2px 4px 2px 4px;
  margin-right: 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  font: 400 0.9em Arial;
  outline: none;
}

.tabular td[data-state='conflict'].from input {
  background-color: theme.$content-table-item-conflict;
}

.tabular td.from input:focus {
  border: 1px solid red;
}

.tabular td.to input {
  width: 120px;
  padding: 2px 4px 2px 4px;
  margin-right: 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  font: 400 0.9em Arial;
  outline: none;
}

.tabular td[data-state='conflict'].toinput {
  background-color: theme.$content-table-item-conflict;
}

.tabular td.to input:focus {
  border: 1px solid red;
}

.tabular td.group {
  text-align: center;
}

.tabular td.group input[type="checkbox"] {
  display: none;
}

.tabular td.group input[type="checkbox"] + label {
  cursor: pointer;  
}

.tabular td.group label img {
  width: 14x;
  height: 14px;
  padding: 2px;
  content: url('../images/times-solid.svg');  
  filter: invert(100%) sepia(30%) saturate(7%) hue-rotate(292deg) brightness(81%) contrast(103%);
}

.tabular td.group input[type="checkbox"]:checked + label img {
  content: url('../images/check-solid.svg');  
  filter: invert(42%) sepia(93%) saturate(703%) hue-rotate(35deg) brightness(101%) contrast(101%)
}

.tabular td.group span {
  padding: 0px 4px 0px 4px;
  user-select: none;
  cursor: pointer;
}

.tabular td.group span[data-value='true'] {
  color: theme.$content-table-yes;
  font-style: normal;
  font-weight: bold;
}

.tabular td.group span[data-value='false'] {
  color: theme.$content-table-no;
  font-style: italic;
  font-weight: 100;
}

.tabular td[data-state='modified'].group span {
  border: 2px solid red;
  border-radius: 3px;
}

.tabular td[data-state='conflict'].group span {
  background-color: theme.$content-table-item-conflict;
}

.tabular td.group span[data-pending] {
  background-color: theme.$content-table-background-pending;
}

.tabular td[data-conflict].group span {
  border-radius: 3px;
  background-color: theme.$content-table-item-conflict;
}

