@use 'solarize' as theme;

* { 
  background: transparent;
  margin: 0; 
  padding: 0; 
}

html { 
  background-color: theme.$content-background;
  height: 100%;
}

body { 
  background-color: theme.$content-background;
  height: 100%;
  padding: 0px;
}

#content {
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  grid-auto-rows: 120px 1fr;    
}

#logo {
  grid-column: 1;
  grid-row: 1;
  padding: 12px;
}

#logo img {
  width: 96px;
  height: 96px;
}

#dashboard {
  grid-column: 2/4;
}

#dashboard #stuff {
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: center;    
  align-items: center;
  padding: 0;
}

.windmill {
  position: relative;
  display: none;
  visibility: hidden;
  margin-left: 12px;
  margin-right: 32px;
}

.windmill:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  margin: auto;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-radius: 50%;
  border-top: 2px solid theme.$dashboard-windmill;
  border-right: 2px solid transparent;
  animation: windmill 0.6s linear infinite;
}

.windmill[data-count] {
  display: block;
  visibility: visible;
}

@keyframes windmill {
  to {transform: rotate(360deg);}
}
 
#dashboard #user {
  background: theme.$controls-background;
  float: right;
  padding: 2px 0px 2px 0px;
}

#avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;    
  align-items: center;
  padding-right: 8px;
}

#dashboard #user p {
  font-size: 0.9em;  
  padding-left: 8px;
  padding-right: 12px;
}

#dashboard #user img {
  width: 32px;
  height: 32px;
}

#user .menu {
  background-color: theme.$controls-menu-background;
  display: none;
  z-index: 1;
}

#user:hover .menu {
  display: block;
}

.menu a {
  color: theme.$controls-menu-item;
  font-size: 0.9em;  
  text-decoration: none;
  display: block;
  padding: 3px 12px 3px 4px;
  text-align: right;
}

.menu a:hover {
  color: theme.$controls-menu-item-highlight;
  background-color: theme.$controls-menu-item-highlight-background;
}

#main {
  display: flex;
  grid-column: 1/3;
  justify-content: center;    
  align-items: center;
}

#login {
  display: block;
  border: 1px solid silver;
  margin-top: 64px;
  padding: 8px;    
  border-radius: 4px;
}

#login form {
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

#login legend {
  font-size: 0.9em;  
  font-style: italic;
}

.field {
  box-sizing: content-box;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: theme.$field-border;
  border-radius: 4px;
}

.field > input {
  font-size: 0.8em;  
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  outline: none;
}

.field > img {
  display: inline-block;
  width: 16px;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
}

.field > input::placeholder {
  font-style: italic;
}

form button {
  font-size: 0.75em;
  min-width: 96px;  
  margin-top: 8px;
  padding: 4px 16px 4px 16px;
  border: theme.$button-border;
  border-radius: 4px;
}

#unauthorized {
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;

  border: 1px solid theme.$warning-colour;;
  margin-top: 64px;
  padding: 12px 32px 12px 32px;    
  border-radius: 4px;
}

#unauthorized p {
  color: theme.$warning-colour;
  font-size: 1.0em;
  font-weight: bold;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

#unauthorized a {
  color: theme.$link-colour;
  font-size: 0.9em;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

.footer {  
  background-color: theme.$content-message-background;
  position: absolute; 
  width: 100%;
  bottom: 0px; 
  margin: 0;
  padding: 6px 0px 6px 0px;
  text-align: center;
  font-size: 0.8em;
}

.message {  
  display: none;
  background-color: theme.$content-message-background;
  margin-bottom: 4px;
  padding: 4px 4px 4px 4px;
  text-align: center;
  font-size: 0.9em;
  font-weight: normal;
}

.message div {  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.message .warning {  
  flex: auto;
}

.warning {
  color: theme.$warning-colour;
}

.dismiss {  
  flex: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 1.5em;
  cursor: pointer;
}

#login #message { 
  background-color: theme.$content-message-background;
  display: none;
  font-size: 0.8em;
  font-weight: normal;
  margin: 8px 0px 0px 8px;
  padding: 4px 0px 4px 0px;
  border: solid 1px theme.$warning-colour;
  border-radius: 4px;
} 
