@use 'solarize' as theme;

* { 
  background: transparent;
  margin: 0; 
  padding: 0; 
}

body { 
  background-color: theme.$content-background;
}

#content {
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  grid-auto-rows: 120px 1fr;    
}

#logo {
  grid-column: 1;
  grid-row: 1;
  padding: 12px;
}

#logo img {
  width: 96px;
  height: 96px;
}

#main {
  display: flex;
  grid-column: 1/3;
  justify-content: center;    
  align-items: center;
}

#login {
  display: block;
  border: 1px solid silver;
  margin-top: 64px;
  padding: 8px;    
  border-radius: 4px;
}

#login form {
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

#login legend {
  font-size: 0.9em;  
  font-style: italic;
}

.field {
  box-sizing: content-box;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: theme.$field-border;
  border-radius: 4px;
}

.field > input {
  font-size: 0.8em;  
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  outline: none;
}

.field > img {
  display: inline-block;
  width: 16px;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
}

.field > input::placeholder {
  font-style: italic;
}

form button {
  font-size: 0.75em;
  min-width: 96px;  
  margin-top: 8px;
  padding: 4px 16px 4px 16px;
  border: theme.$button-border;
  border-radius: 4px;
}

.message {  
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

.warning {
  color: theme.$warning-colour;
}

.tabs {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

.tabs > input {
  position: absolute;
  left: -9999px;
}

.tabs label {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
}

.tabs > label {   
  background: theme.$tab-background;
  font-size: 0.9em;
  padding: 8px 16px 8px 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tabs > label:hover {
  background: #f2f2f2;
}

.tabs > input:checked + label {
  cursor: default;
  background: theme.$tab-background-selected;
}

.tabs > ul {
  background: #fff;
  text-align: left;
}

.tabs-steps > label:hover {
  background: #e5e5e5;    
}

.tabs > ul {
  list-style: none;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

.tabs > ul,
.tabs > ul > li {
  height: 370px;
}

.tabs > ul > li {
  opacity: 0;
  position: absolute;
  width: 100%;
  overflow: auto;
  padding: 30px 40px 40px;
  box-sizing: border-box;
  transition: all 0.5s;
}

.tabs > .tab-content-first:checked ~ ul .tab-content-first,
.tabs > .tab-content-2:checked     ~ ul .tab-content-2,
.tabs > .tab-content-3:checked     ~ ul .tab-content-3,
.tabs > .tab-content-last:checked ~ ul .tab-content-last {
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 1;
}

