#container {
  width: 100%;
  height:100%;
  max-width:100%; 

  display: flex; 
  flex-direction:column; 
}

div#events table tfoot.hidden {  
  display: none;
}  

td.ellipsis {
  text-align: center;
}

td.ellipsis img.button {
  height: 16px;
  vertical-align: middle;
  padding: 4px 32px 4px 32px;
  border: solid 1px #268bd2;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

th.timestamp {
  border-bottom: 1px;
  white-space: nowrap;
  min-width: 140px;
}

th.deviceID {
  min-width: 80px;
}

th.eventType {
  min-width: 56px;
}

th.direction {
  min-width: 16px;
}

th.door {
  min-width: 104px;
}

th.cardno {
  min-width: 56px;
}

th.card {
  min-width: 120px;
}

th.access {
  min-width: 60px;
}

th.reason {
  min-width: 100px;
}

td input {
  height: 18px;
  font-size: 1.2em;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
}

td input.timestamp {
  width: 140px;
}

td input.deviceID {
  width: 80px;
}

td input.device {
  width: 72px;
}

td input.eventType {
  width: 56px;
}

td input.direction {
  width: 16px;
}

td input.doorid {
  width: 8px;
  text-align: center;
}

td input.door {
  width: 96px;
}

td input.cardno {
  width: 56px;
}

td input.card {
  width: 120px;
}

td input.access {
  width: 60px;
}

td input.reason {
}

@-moz-document url-prefix("") {
  td input {
    font-family: "Arial", san-serif;
    font-size: 1em;
  }

  td input.timestamp {
    font-size: 0.88em;
  }

  td input.deviceID {
    font-size: 0.88em;
  }

  td input.doorid {
    font-size: 0.88em;
  }

  td input.cardno {
    font-size: 0.88em;
  }
}

// Safari fixes
input.apple {
  font-size: 13.333px;
}

