<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>uhppoted-httpd: System</title>
    <link rel="manifest"   href="/manifest.json">
    <link rel="icon"       href="/images/favicon.svg">
    <link rel="stylesheet" href="/css/{{$.context.Theme}}/controllers.css" type="text/css">
    <meta charset="UTF-8">
  </head>

  <body> 
    <div id="content">

      {{template "user"   .}}
      {{template "header" .}}
      {{template "nav"    (nav "system")}}

      <!-- MAIN -->
      <main>
        <div id="container">
          <table id="interface" class="interface" data-oid="{{ .schema.Interfaces.OID }}.1">
            <tr>
              <td colspan="3">
                <div style="display:flex;">
                  <input type="text" class="name" placeholder="-" style="flex-grow:1;"
                          onchange="onEdited('interface', event)" 
                          data-oid="{{ .schema.Interfaces.OID }}.1{{ .schema.Interfaces.Name }}"
                          data-original=""
                          data-value="" 
                          readonly />
                  <span class="control commit"   onclick="onCommit('interface', event)">&#9745;</span>
                  <span class="control rollback" onclick="onRollback('interface', event)">&#9746;</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>bind:</td>
              <td><input type="text" class="bind" placeholder="-" 
                          onchange="onEdited('interface', event)" 
                          data-oid="{{ .schema.Interfaces.OID }}.1{{ .schema.Interfaces.Bind }}"
                          data-original=""
                          data-value="" 
                          {{if .readonly}}readonly{{end}} /></td>
            </tr>
            <tr>
              <td>broadcast:</td>
              <td><input type="text" class="broadcast" placeholder="-" 
                          onchange="onEdited('interface', event)" 
                          data-oid="{{ .schema.Interfaces.OID }}.1{{ .schema.Interfaces.Broadcast }}"
                          data-original=""
                          data-value="" 
                          {{if .readonly}}readonly{{end}} /></td>
            </tr>
          </table>

          <div id="controls" data-oid="{{ .schema.Controllers.OID }}">
            <img id="commitall"   class='button' src="/images/{{$.context.Theme}}/check-solid.svg" onclick="onCommitAll('controllers', event, 'controllers')" />
            <img id="rollbackall" class='button' src="/images/{{$.context.Theme}}/times-solid.svg" onclick="onRollbackAll('controllers', event, 'controllers')" />
            {{template "message"   .}}
            <img id="add" class='button' src="/images/{{$.context.Theme}}/plus-solid.svg" onclick="onNew('controller')" />
            <img id="refresh" class='button' src="/images/{{$.context.Theme}}/sync-alt-solid.svg" onclick="onRefresh('controllers', event)" />
          </div>

          <div id="controllers" class="tabular">
            <table>
              <thead>
                <tr>
                  <th class="name      topleft">Controller</th>
                  <th class="ID        colheader">ID</th>
                  <th class="IP        colheader">Endpoint</th>
                  <th class="protocol  colheader">TCP</th>
                  <th class="datetime  colheader">Date/Time</th>
                  <th class="interlock colheader">Interlock</th>
                  <th class="cards     colheader">Cards</th>
                  <th class="events    colheader">Events</th>
                  <th class="doors     colheader" colspan="4">Doors</th>
                  <th class="padding   colheader" ></th>
                </tr>
              </thead>
              <tbody></tbody>
              <tfoot></tfoot>
            </table>
            
            <template id="controller">
                <td class="rowheader" style="display:flex; flex-direction:row;">
                  <input class="field name" 
                         type="text" 
                         value="" 
                         placeholder="-" 
                         onchange="onEdited('controller', event)" 
                         data-record="" 
                         data-original="" 
                         data-value="" 
                         {{if .readonly}}readonly{{end}} />
                  <span class="control commit"   onclick="onCommit('controller', event)"   data-record="">
                    <img src="/images/{{$.context.Theme}}/check-solid.svg" />
                  </span>
                  <span class="control rollback" onclick="onRollback('controller', event)" data-record="">
                    <img src="/images/{{$.context.Theme}}/times-solid.svg" />
                  </span>
                </td>

                <td class="ID">
                  <input class="field ID"
                         type="text" 
                         min="0"
                         value=""
                         placeholder="-"
                         onchange="onEdited('controller', event)" 
                         data-record=""
                         data-original=""
                         data-value="" 
                         {{if .readonly}}readonly{{end}} />
                </td>

                <td>
                  <input class="field IP"
                         type="text" 
                         value=""
                         placeholder="-"
                         onkeydown="onEnter('controller',event)" 
                         onchange="onEdited('controller', event)" 
                         data-record=""
                         data-original=""
                         data-value=""  
                         data-status="" 
                         {{if .readonly}}readonly{{end}} />
                </td>

                <td>
                  <label class="protocol">
                    <input class="field"
                           type="checkbox" 
                           onclick="onTick('controller', event)"
                           data-record="" 
                           data-original="" 
                           data-value=""
                           {{if .readonly}}disabled{{end}} />
                    <img class="no"  src="/images/{{$.context.Theme}}/times-solid.svg" draggable="false" />
                    <img class="yes" src="/images/{{$.context.Theme}}/check-solid.svg" draggable="false" />
                  </label>
                </td>

                <td class="combobox">
                  <input class="field datetime"
                         type="text" 
                         value=""
                         placeholder="-"
                         autocomplete="off" 
                         onkeydown="onDateTime('controller', event)"
                         onchange="onDateTime('controller', event)"
                         data-record=""
                         data-original=""
                         data-value=""
                         data-status=""
                         {{if .readonly}}disabled{{end}}  
                         {{if .readonly}}readonly{{end}} />
                  <ul style="position:fixed; left:0px; top:0px; z-index:2; width:fit-content; max-height:120px; overflow:auto;"></ul>
                </td>

                <td>
                  <select class="field interlock"
                          type="text" 
                          value=""
                          placeholder="-"
                          onchange="onEdited('controller', event)" 
                          data-record=""
                          data-original=""
                          data-value=""
                          {{if .readonly}}disabled{{end}} >
                    <option value="0">-</option>
                    <option value="1">1&amp;2</option>
                    <option value="2">3&amp;4</option>
                    <option value="3">1&amp;2,3&amp;4</option>
                    <option value="4">1&amp;2&amp;3</option>
                    <option value="8">1&amp;2&amp;3&amp;4</option>
                  </select>
                </td>

                <td>
                  <input class="field cards"
                         type="number" 
                         min="0"
                         value=""
                         placeholder="-"
                         onchange="onEdited('controller', event)" 
                         data-record=""
                         data-original=""
                         data-value=""  
                         data-status="" 
                         readonly />
                </td>

                <td>
                  <input class="field events"
                         type="number" 
                         min="0"
                         value=""
                         placeholder="-"
                         onchange="onEdited('controller', event)" 
                         data-record=""
                         data-original=""
                         data-value=""  
                         readonly />
                </td>

                <td>
                  <select class="field door1"
                          type="text" 
                          value=""
                          placeholder="-"
                          onchange="onEdited('controller', event)" 
                          data-record=""
                          data-original=""
                          data-value=""
                          {{if .readonly}}disabled{{end}} >
                    <option value="">-</option>
                  </select>
                </td>

                <td>
                  <select class="field door2"
                          type="text" 
                          value=""
                          placeholder="-"
                          onchange="onEdited('controller', event)" 
                          data-record=""
                          data-original=""
                          data-value=""
                          {{if .readonly}}disabled{{end}} >
                    <option value="">-</option>
                  </select>
                </td>

                <td>
                  <select class="field door3"
                          type="text" 
                          value=""
                          placeholder="-"
                          onchange="onEdited('controller', event)" 
                          data-record=""
                          data-original=""
                          data-value=""
                          {{if .readonly}}disabled{{end}} >
                    <option value="">-</option>
                  </select>
                </td>

                <td>
                  <select class="field door4"
                          type="text" 
                          value=""
                          placeholder="-"
                          onchange="onEdited('controller', event)" 
                          data-record=""
                          data-original=""
                          data-value=""
                          {{if .readonly}}disabled{{end}} >
                    <option value="">-</option>
                  </select>
                </td>

                <!-- 'padding' column (CSS: tr::last-child) -->
                <td class="padding"></td>
            </template>

          </div>
        </div>
      </main>

      {{template "footer" .}}
    </div>
  </body>

  <!-- SCRIPTS -->

  <script type="module">
    {{template "uhppoted.js" .}}
    {{template "tabular.js"  .}}
    {{template "window.js"   .}}

    const refresh = function() {
      onRefresh('controllers')      
    }

    resetIdle()
    refresh()
    setRefresh(refresh)
  </script>

  <!-- global information initialised by Go template -->
  <script>
    var constants = {
      theme: {{$.context.Theme}},
      mode: {{ $.context.Mode}},
    }

    function onMenu(event, state) {
      if (window.onMenuX) {
        window.onMenuX(event, state)
      }
    }

    // Trims the entered date/time/zone to HH:mm if possible so that it is 'different'
    // to the dataset.original value which causes the date/time to be marked as modified,
    // as a way of forcing a controller time synchronisation on Enter.
    // This is a little less of a hack than it appears because the entered time is only an
    // approximation to the 'now' time to which is the controller will be set.
    function onDateTime(tag,event) {
      if ((event.type === "keydown" && event.key === "Enter") || event.type === "change" ) {
        const val = event.target.value
        const re = /([0-9]{4}-[0-9]{2}-[0-9]{2}\s+[0-9]{2}:[0-9]{2})(:[0-9]{2})?(\s+.*)?/
        const match = val.match(re)

        if (match && match[3]) {
            event.target.value = `${match[1]} ${match[3]}`
        } else if (match) {
            event.target.value = `${match[1]}`          
        }

        onEdited(tag,event)          
      } 
    }

  </script>

</html>
