th.name {
  min-width: 144px;
  border-bottom: 1px;
}

th.cardnumber {
  min-width: 72px;
}

th.from {
  min-width: 72px;
}

th.to {
  min-width: 72px;
}

th.grouph {
}

tr td:last-child { 
  width:100% 
} 

td input.name {
  width: 120px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
}

td input.name:focus {
  border: 1px solid red;
}

td input.cardnumber {
  width: 72px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  -moz-appearance:textfield;
}

td input.cardnumber:focus {
  border: 1px solid red;
}

td input.cardnumber::-webkit-inner-spin-button, 
td input.cardnumber::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input.from {
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  font: 400 0.9em Arial;
  outline: none;
}

input.from::-webkit-datetime-edit { 
  max-width: 80px;
}

input.from::-webkit-calendar-picker-indicator { 
  margin-left: 0px;
}

td input.from:focus {
  border: 1px solid red;
}

td input.to {
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  font: 400 0.9em Arial;
  outline: none;
}

input.to::-webkit-datetime-edit { 
  max-width: 80px;
}

input.to::-webkit-calendar-picker-indicator { 
  margin-left: 0px;
}

td input.to:focus {
  border: 1px solid red;
}

td label.group {
  cursor: pointer;  
}

td label.group input[type="checkbox"] {
  display: none;
}

td label.group img {
  width: 14px;
  height: 14px;
  padding: 2px;
  margin: auto;
}

td label.group img.yes {
  display: none;
  filter: invert(42%) sepia(93%) saturate(703%) hue-rotate(35deg) brightness(101%) contrast(101%)
}

td label.group img.no {
  display: block;
  filter: invert(100%) sepia(30%) saturate(7%) hue-rotate(292deg) brightness(81%) contrast(103%);
}

td label.group input[type="checkbox"]:checked ~ img.yes {
  display: block;
}

td label.group input[type="checkbox"]:checked ~ img.no {
  display: none;
}
