#controls {
    background: $content-table-background-header;
    padding: 4px 4px 4px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#controls.modified[data-modified^="multiple"] #commitall {
   display: block;
}

#controls.modified[data-modified^="multiple"] #rollbackall {
   display: block;
}

