#controls {
    background: $content-table-background-header;
    padding: 4px 4px 4px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#controls.modified[data-modified^="multiple"] #commitall {
   display: block;
}

#controls.modified[data-modified^="multiple"] #rollbackall {
   display: block;
}

th.name {
  min-width: 90px;
  border-bottom: 1px;
}

tr.door {
}

tr.door td:last-child { 
  width:100% 
} 

tr.door[data-status="unknown"] {
}

tr.door td img.flag.modified {
   filter: invert(61%) sepia(14%) saturate(250%) hue-rotate(138deg) brightness(92%) contrast(92%);
   visibility: visible;
}

tr.door td img.flag.pending {
   filter: invert(38%) sepia(78%) saturate(999%) hue-rotate(174deg) brightness(102%) contrast(78%);
   visibility: visible;
}

tr.door td img.flag.conflict {
   filter: invert(56%) sepia(94%) saturate(7076%) hue-rotate(349deg) brightness(95%) contrast(82%);
   visibility: visible;
}

tr.door td input {
  color: $content-table-item-normal;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 2px 4px 2px 4px;
  outline: none;
  -moz-appearance:textfield;
}

tr.door td input[type=number]::-webkit-inner-spin-button, 
tr.door td input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

tr.door[data-status="unconfigured"] td input {
  color: $content-table-row-unconfigured;
  font-style: italic;
}

tr.door[data-status="unknown"] td input {
  color: $content-table-item-unknown;
  font-style: italic;
}

tr.door[data-status="uncertain"] td input {
  color: $content-table-item-uncertain;
}

tr.door[data-status="error"] td input {
  color: $content-table-item-error;
}

tr.door td input[data-status="unknown"] {
  color: $content-table-item-unknown;
  font-style: italic;
}

tr.door td input[data-status="unconfigured"] {
  color: $content-table-item-unconfigured;
  font-style: italic;
}

tr.door td input[data-status="uncertain"] {
  color: $content-table-item-uncertain;
}

tr.door td input[data-status="error"] {
  color: $content-table-item-error;
  font-weight: bold; 
}

tr.door td input:focus {
  border: 1px solid red;
}

tr.door td select {
  border: none;
  outline: none;
  font: 400 0.9em Arial;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

tr.door[data-status="unconfigured"] td select {
  color: $content-table-row-unconfigured;
  font-style: italic;
}

tr.door[data-status="unknown"] td select {
  color: $content-table-item-unknown;
  font-style: italic;
}

tr.door[data-status="uncertain"] td select {
  color: $content-table-item-uncertain;
}

tr.door[data-status="error"] td select {
  color: $content-table-item-error;
}

tr.door td select[data-status="unknown"] {
  color: $content-table-item-unknown;
  font-style: italic;
}

tr.door td select[data-status="unconfigured"] {
  color: $content-table-row-unconfigured;
  font-style: italic;
}

tr.door td select[data-status="uncertain"] {
  color: $content-table-item-uncertain;
}

tr.door td select[data-status="error"] {
  color: $content-table-item-error;
  font-weight: bold; 
}

tr.door td input.name {
  width: 90px;
}

tr.door td input.controller {
  pointer-events: none;
}

tr.door td input.deviceID {
  pointer-events: none;
}

tr.door td input.doorID {
  pointer-events: none;
}

tr.door td input.mode {
  text-align: center; 
}

tr.door td input.delay {
  text-align: center; 
}

