table.interface {
  background: $content-table-background-header;
  margin-top: 30px; 
  margin-bottom: 4px;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font: 400 0.9em Arial;
  color: $solarize-base01;
  border-radius: 3px;
}

table.interface tr {
  padding-top: 0px;
  padding-bottom: 0px;
} 

table.interface td {
  font-variant: small-caps;
}

table.interface td img.flag {
  width: 6px;
  height: 6px;
  margin-left: 0px;
  margin-right: 6px;
  visibility: hidden;
 }

table.interface td img.flag.modified {
   filter: invert(61%) sepia(14%) saturate(250%) hue-rotate(138deg) brightness(92%) contrast(92%);
   visibility: visible;
}

table.interface td img.flag.pending {
   filter: invert(38%) sepia(78%) saturate(999%) hue-rotate(174deg) brightness(102%) contrast(78%);
   visibility: visible;
}

table.interface td img.flag.conflict {
   filter: invert(56%) sepia(94%) saturate(7076%) hue-rotate(349deg) brightness(95%) contrast(82%);
   visibility: visible;
}

table.interface td input {
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  color: $solarize-base01;
  font: 400 0.9em Arial;
}

table.interface td input:focus {
  border: 1px solid red;
}

table.interface td input.name {
  padding: 0px 0px 0px 0px;
  border: none;
  font-weight: bold;
}

table.interface td span.control {
  padding: 0px 0px 0px 0px;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  visibility: hidden;
}

table.interface td span.commit {
  color: $content-table-commit;  
}

table.interface td span.rollback {
  color: $content-table-rollback;  
}

// table.modified td span.commit {
//   visibility: visible;
// }

// table.modified td span.rollback {
//   visibility: visible;
// }

#controls {
    background: $content-table-background-header;
    padding: 4px 4px 4px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

th.name {
  min-width: 90px;
  border-bottom: 1px;
}

th.ID {
  min-width: 88px;
}

th.IP {
  min-width: 112px;
}

th.datetime {
  min-width: 176px;
}

th.cards {
  min-width: 72px;
  text-align: center; 
}

th.events {
  min-width: 72px;
  text-align: center; 
}

th.doors {
  min-width: 76px;
  width: 100%;
}

tr.controller {
}

tr.controller td:nth-child(n+7) { 
  width:100% 
} 

tr.controller[data-status="unknown"] {
}

tr.controller td input {
  color: $content-table-item-normal;
}

tr.controller[data-status="unconfigured"] td input {
  color: $content-table-row-unconfigured;
  font-style: italic;
}

tr.controller[data-status="unknown"] td input {
  color: $content-table-item-unknown;
  font-style: italic;
}

tr.controller[data-status="uncertain"] td input {
  color: $content-table-item-uncertain;
}

tr.controller[data-status="error"] td input {
  color: $content-table-item-error;
}

tr.controller td input[data-status="unknown"] {
  color: $content-table-item-unknown;
  font-style: italic;
}

tr.controller td input[data-status="uncertain"] {
  color: $content-table-item-uncertain;
}

tr.controller td input[data-status="error"] {
  color: $content-table-item-error;
  font-weight: bold; 
}

tr.controller td input:focus {
  border: 1px solid red;
}

tr.controller td img.flag.modified {
   filter: invert(61%) sepia(14%) saturate(250%) hue-rotate(138deg) brightness(92%) contrast(92%);
   visibility: visible;
}

tr.controller td img.flag.pending {
   filter: invert(38%) sepia(78%) saturate(999%) hue-rotate(174deg) brightness(102%) contrast(78%);
   visibility: visible;
}

tr.controller td img.flag.conflict {
   filter: invert(56%) sepia(94%) saturate(7076%) hue-rotate(349deg) brightness(95%) contrast(82%);
   visibility: visible;
}

tr.controller td input.name {
  width: 90px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
}

tr.controller td input.name:focus {
  border: 1px solid red;
}

tr.controller td input.ID {
  width: 88px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  -moz-appearance:textfield;
}

tr.controller td input.ID::-webkit-inner-spin-button, 
tr.controller td input.ID::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

tr.controller td input.IP {
  min-width: 112px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
}

tr.controller td input.datetime {
  min-width: 176px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
}

tr.controller td input.cards {
  width: 72px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  text-align: center; 
  -moz-appearance:textfield;
}

tr.controller td input.events {
  width: 72px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  text-align: center; 
  -moz-appearance:textfield;
}

tr.controller td select.door1,.door2,.door3,.door4 {
  width: 72px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
}

tr.controller td select {
  font: 400 0.9em Arial;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

tr.controller[data-status="unconfigured"] td select {
  color: $content-table-row-unconfigured;
  font-style: italic;
}

tr.controller[data-status="unknown"] td select {
  color: $content-table-item-unknown;
  font-style: italic;
}

tr.controller[data-status="uncertain"] td select {
  color: $content-table-item-uncertain;
}

tr.controller[data-status="error"] td select {
  color: $content-table-item-error;
}
