@use "sass:color";
@charset 'UTF-8';

@import '../../base/_palette';

$content-background: $palette-base03;
$message-background: $palette-base02;

$warning-colour: $palette-base0;
$warning-dismiss-colour: color.adjust($palette-blue, $lightness: -5%);
$enabled-colour: $palette-yellow;

$nav-background: color.adjust($palette-base02, $lightness: -5%);

$footer-background: $palette-base01;
$footer-text: $palette-base03;

$user-avatar-background: color.adjust($palette-base02, $lightness: 3%);
$user-avatar-text: $palette-base1;
$user-avatar-shadow: 3px 3px 3px color.adjust($palette-base02, $lightness: -10%);
$user-menu-background: color.adjust($palette-base02, $lightness: 1%);
$user-menu-shadow: 3px 3px 3px color.adjust($palette-base02, $lightness: -10%);
$user-menu-item: $palette-base00;
$user-menu-item-highlight: $palette-base2;
$user-menu-item-highlight-background: $palette-base1;

$fieldset-text: $palette-base0;
$fieldset-border: 1px solid $palette-base01;
$fieldset-button-border: 2px solid $palette-blue;
$fieldset-warning-text: $palette-base03;

$content-controls-border: color.adjust($palette-blue, $lightness: -25%);

$content-table-background: color.adjust($palette-base02, $lightness: -5%);
$content-table-background-header: color.adjust($palette-base02, $lightness: -5%);
$content-table-background-odd: $palette-base03;
$content-table-background-even: $palette-base02;
$content-table-border: color.adjust($palette-blue, $lightness: -25%);
$content-table-scrollbar-color:  $palette-base01 $palette-base0;
$content-table-text: $palette-base0;
$content-table-row-modified: color.adjust($palette-blue, $lightness: -25%);
$content-table-row-unconfigured: color.adjust($palette-yellow, $lightness: -2.5%);
$content-table-item-normal: $palette-base00;
$content-table-item-unknown: $palette-base00;
$content-table-item-uncertain: $palette-base01;
$content-table-item-error: color.adjust($palette-red, $lightness: -10%);
$content-table-commit:   color.adjust($palette-blue, $lightness: -5%);
$content-table-rollback: color.adjust($palette-red, $lightness: -10%);

$content-svg-filter-commit:   none;
$content-svg-filter-rollback: none;

$password-credentials-background: $palette-base01;

input::selection {
  background: $palette-base2;
}

input::-moz-selection { 
  background: $palette-base2;
}

