@charset 'UTF-8';

@use "sass:color";
@use '../../base/_default';
@use "../../base/palette";

@use '_uhppoted';
@use '_tabular';
@use '_common';

@use '../../stylesheets/doors';

tr.door input.mode + ul {
  background: color.adjust(palette.$palette-base01,$lightness: 10%);
}

tr.door input.mode + ul li {
  color: palette.$palette-base02;
}

.tooltip-wrap .tooltip-content {
  color: #800000ff;
  background-color: color.adjust(palette.$palette-base01,$lightness: 10%);
}

