<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>uhppoted-httpd: Cards</title>
    <link rel="manifest"   href="/manifest.json">
    <link rel="icon"       href="/images/favicon.svg">
    <link rel="stylesheet" href="/css/{{$.context.Theme}}/cards.css" type="text/css" id="css_cards">
    <meta charset="UTF-8">
  </head>

  <body> 
    <div id="content">

      {{template "user"   .}}
      {{template "header" .}}
      {{template "nav"    (nav "cards")}}

      <!-- MAIN -->
      <main>
        <div id="container">
          <div id="controls" data-oid="{{ .schema.Cards.OID }}">
            <img id="commitall" class='button' src="/images/{{$.context.Theme}}/check-solid.svg" onclick="onCommitAll('cards', event, 'cards')" draggable="false" />
            <img id="rollbackall" class='button' src="/images/{{$.context.Theme}}/times-solid.svg" onclick="onRollbackAll('cards', event)"  draggable="false"  />
            {{template "message"   .}}
            <img id="add"     class='button' src="/images/{{$.context.Theme}}/plus-solid.svg" onclick="onNew('card')" />
            <img id="refresh" class='button' src="/images/{{$.context.Theme}}/sync-alt-solid.svg" onclick="onRefresh()" />
          </div>

          <div id="cards" class="tabular">
            <table>
              <thead>
                <tr>
                  <th class="name    topleft">Name</th>
                  <th class="number  colheader">Card Number</th>
                  {{if .context.WithPIN}}
                  <th class="pin     colheader">PIN</th>
                  {{end}}
                  <th class="from    colheader">From</th>
                  <th class="to      colheader">To</th>
                  <th class="padding colheader"></th>
                </tr>
              </thead>
              <tbody></tbody>
              <tfoot></tfoot>
            </table>

            <template id="card">
              <td class="rowheader" style="display:flex; flex-direction:row;">
                <input class="field name"
                       type="text"                            
                       placeholder="-"
                       onkeydown="onEnter('card', event)" 
                       onchange="onEdited('card', event)" 
                       data-record=""
                       data-original=""
                       data-value=""
                       {{if .readonly}}readonly{{end}} />
                <span class="control commit"   onclick="onCommit('card', event)"   data-record="">
                  <img src="/images/{{$.context.Theme}}/check-solid.svg" />
                </span>
                <span class="control rollback" onclick="onRollback('card', event)" data-record="">
                  <img src="/images/{{$.context.Theme}}/times-solid.svg" />
                </span>
              </td>
              <td>
                <input class="field number"
                       type="number" 
                       min="0"
                       placeholder="-"
                       onkeydown="onEnter('card', event)" 
                       onchange="onEdited('card', event)" 
                       data-record=""
                       data-original=""
                       data-value=""
                       {{if .readonly}}readonly{{end}} />
              </td>
              {{if .context.WithPIN}}
              <td>
                <input class="field PIN"
                       type="number" 
                       min="0"
                       max="999999"
                       placeholder="-"
                       onkeydown="onEnter('card', event)" 
                       onchange="onEdited('card', event)" 
                       data-record=""
                       data-original=""
                       data-value=""
                       {{if .readonly}}readonly{{end}} />
              </td>
              {{end}}
              <td>
                <input class="field from"
                       type="date" 
                       onchange="onEdited('card', event)" 
                       data-record=""
                       data-original=""
                       data-value=""
                       {{if .readonly}}readonly{{end}} 
                       required />
              </td>
              <td>
                <input class="field to"
                       type="date" 
                       onchange="onEdited('card', event)" 
                       data-record=""
                       data-original=""
                       data-value=""
                       {{if .readonly}}readonly{{end}} 
                       required />
              </td>              
              <!-- 'padding' column (CSS: tr::last-child) -->
              <td class="padding"></td>                  
            </template>

            <template id="group">
                <label class="group">
                  <input class="field"
                         type="checkbox" 
                         onclick="onTick('card', event)"
                         data-record="" 
                         data-original="" 
                         data-value=""
                         {{if .readonly}}disabled{{end}} />
                  <img class="no"  src="/images/{{$.context.Theme}}/times-solid.svg" draggable="false" />
                  <img class="yes" src="/images/{{$.context.Theme}}/check-solid.svg" draggable="false" />
                </label>
            </template>

          </div>
        </div>
      </main>

      {{template "footer" .}}
    </div>
  </body>

  <!-- SCRIPTS -->
 
  <script type="module">
    {{template "uhppoted.js" .}}
    {{template "tabular.js"  .}}
    {{template "window.js"   .}}

    const refresh = function() {
      onRefresh('cards')
    }

    resetIdle()
    refresh()
    setRefresh(refresh)
  </script>

  <!-- global information initialised by Go template -->
  <script>
    var constants = {
      theme: {{$.context.Theme}},
      mode: {{ $.context.Mode}},
    }

    function onMenu(event, state) {
      if (window.onMenuX) {
        window.onMenuX(event, state)
      } else {
        console.debug('onMenu is not defined')
      }
    }
  </script>

</html>