<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>uhppoted-httpd: Groups</title>
    <link rel="manifest"   href="/manifest.json">
    <link rel="icon"       href="/images/favicon.svg">
    <link rel="stylesheet" href="/css/{{$.context.Theme}}/groups.css" type="text/css">
    <meta charset="UTF-8">
  </head>

  <body> 
    <div id="content">

      {{template "user"   .}}
      {{template "header" .}}
      {{template "nav"    (nav "groups")}}

      <!-- MAIN -->
      <main>
        <div id="container">
          <div id="controls" data-oid="{{ .schema.Groups.OID }}">
            <img id="commitall" class='button' src="/images/{{$.context.Theme}}/check-solid.svg" onclick="onCommitAll('groups', event, 'groups')" draggable="false" />
            <img id="rollbackall" class='button' src="/images/{{$.context.Theme}}/times-solid.svg" onclick="onRollbackAll('groups', event)"  draggable="false"  />
            <div id="message" class="message">
              <div>
                <span class="warning" id="warning"></span>
                <button class="dismiss" onclick="dismiss()">&#9746;</button>
              </div>
            </div>
            <img id="add"     class='button' src="/images/{{$.context.Theme}}/plus-solid.svg" onclick="onNew('group')" />
            <img id="refresh" class='button' src="/images/{{$.context.Theme}}/sync-alt-solid.svg" onclick="onRefresh('groups', event)" />
          </div>

          <div id="groups" class="tabular">
            <table>
              <thead>
                <tr>
                  <th class="name    colheader rowheader">Group</th>
                  <th class="padding colheader"></th>
                </tr>
              </thead>
              <tbody></tbody>
              <tfoot></tfoot>
            </table>

            <template id="group">
                <td class="rowheader" style="display:flex; flex-direction:row;">
                  <input class="field name" 
                         type="text" 
                         value="" 
                         placeholder="-" 
                         onchange="onEdited('group', event)" 
                         onkeydown="onEnter('group', event)" 
                         data-record="" 
                         data-original="" 
                         data-value=""
                         {{if .readonly}}readonly{{end}} />
                  <span class="control commit"   onclick="onCommit('group', event)"   data-record="">
                    <img src="/images/{{$.context.Theme}}/check-solid.svg" />
                  </span>
                  <span class="control rollback" onclick="onRollback('group', event)" data-record="">
                    <img src="/images/{{$.context.Theme}}/times-solid.svg" />
                  </span>
                </td>

                <!-- 'padding' column (CSS: tr::last-child) -->
                <td class="padding"></td>
            </template>

            <template id="door">
                <label class="door">
                  <input class="field"
                         type="checkbox" 
                         onclick="onTick('group', event)"
                         data-record="" 
                         data-original="" 
                         data-value=""
                         {{if .readonly}}disabled{{end}} />
                  <img class="no"  src="/images/{{$.context.Theme}}/times-solid.svg" draggable="false" />
                  <img class="yes" src="/images/{{$.context.Theme}}/check-solid.svg" draggable="false" />
                </label>
            </template>

          </div>
        </div>
      </main>

      {{template "footer" .}}

    </div>
  </body>

  <!-- SCRIPTS -->

  <script type="module">
    import { retheme, dismiss, resetIdle, onMenu, onSignOut, onReload, setRefresh } from "/javascript/uhppoted.js"
    import { onEdited, 
             onEnter, 
             onTick, 
             onCommit, 
             onCommitAll, 
             onRollback, 
             onRollbackAll, 
             onNew, 
             onRefresh } from "/javascript/tabular.js"

    window.retheme = retheme
    window.dismiss = dismiss
    window.onMenuX = onMenu
    window.onSignOut = onSignOut
    window.onReload = onReload

    window.onEdited = onEdited
    window.onEnter = onEnter
    window.onTick = onTick
    window.onCommit = onCommit
    window.onCommitAll = onCommitAll
    window.onRollback = onRollback
    window.onRollbackAll = onRollbackAll
    window.onNew = onNew
    window.onRefresh = onRefresh

    const refresh = function() {
      onRefresh('groups')      
    }

    resetIdle()
    refresh()
    setRefresh(refresh)
  </script>

  <!-- global information initialised by Go template -->
  <script>
    var constants = {
      theme: {{$.context.Theme}},
      mode: {{ $.context.Mode}},
    }

    function onMenu(event, state) {
      if (window.onMenuX) {
        window.onMenuX(event, state)
      } else {
        console.debug('onMenu is not defined')
      }
    }
  </script>

</html>