<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>uhppoted-httpd: Password</title>
    <link rel="manifest"   href="/manifest.json">
    <link rel="icon"       href="/images/favicon.svg">
    <link rel="stylesheet" href="/css/{{$.context.Theme}}/password.css" type="text/css">
    <meta charset="UTF-8">
  </head>

  <body> 
    <div id="content">
      
      <!-- HEADER -->
      <header>
        <img id="logo" src="/images/{{$.context.Theme}}/logo.png"  />
      </header>

      <!-- NAV -->

      <!-- MAIN -->
      <main>
        <div id="container">
          <div id="form">

            <!-- UID/PWD -->

            <div id="credentials">
              <div class="field readonly">
                <input id="uid" name="uid" type="text" size="28" placeholder="{{.Password.UserID.Hint}}" value="{{$.context.User}}" readonly />
              </div>
              <div class="field">
                <input id="old" name="old" type="password" size="28" placeholder="{{.Password.Old.Hint}}" />
                <img src="/images/{{$.context.Theme}}/eye-solid.svg" 
                     onclick="onShowHidePassword(event, 'old')" 
                     data-hide='/images/{{$.context.Theme}}/eye-slash-solid.svg'
                     data-show='/images/{{$.context.Theme}}/eye-solid.svg' 
                     draggable="false" />
              </div>
            </div>

            <!-- CHANGE PASSWORD -->
            <fieldset id="password">
              <legend>{{.Password.Legend}}</legend>
              <div class="form"> 
                <div class="field">
                  <input id="pwd" name="pwd" type="password" size="28" placeholder="{{.Password.New.Hint}}" />
                  <img src="/images/{{$.context.Theme}}/eye-solid.svg" 
                       onclick="onShowHidePassword(event, 'pwd')" 
                       data-hide='/images/{{$.context.Theme}}/eye-slash-solid.svg'
                       data-show='/images/{{$.context.Theme}}/eye-solid.svg'
                       draggable="false" />
                </div>
                <div class="field">
                  <input id="pwd2" name="pwd2" type="password" size="28" placeholder="{{.Password.New2.Hint}}" />
                  <img src="/images/{{$.context.Theme}}/eye-solid.svg" 
                       onclick="onShowHidePassword(event, 'pwd2')" 
                       data-hide='/images/{{$.context.Theme}}/eye-slash-solid.svg'
                       data-show='/images/{{$.context.Theme}}/eye-solid.svg'
                      draggable="false" />
                </div>
                <div>
                  <button class="ok" onclick="onPassword(event)">{{.Password.Ok.Label}}</button>
                </div>
              </div>
            </fieldset>

            <!-- OTP -->
            <fieldset id="OTP"  data-allowed="{{$.context.Options.OTP.Allowed}}" data-enabled="{{$.context.Options.OTP.Enabled}}" data-otp="hide">
              <legend>OTP</legend>
              <div class="field enable">
                <div id="checkbox">
                  <label>Enable OTP?
                    <input type="checkbox" name="otp.enable" onclick="onEnableOTP(event)" {{if $.context.Options.OTP.Enabled}}checked disabled{{end}} />
                  </label>
                  <div>Enabled</div>
                </div>
                <img id="hide-otp" src="/images/{{$.context.Theme}}/eye-slash-solid.svg" onclick="onHideOTP(event)" draggable="false" />
              </div>
              <div class="otp">
                <img class="otp placeholder fadeIn" src="/images/{{$.context.Theme}}/qr.png" draggable="false" />
                <div class="holder">
                  <img id="show-otp" class="otp fadeIn" src="/images/{{$.context.Theme}}/show-otp.svg" onclick="onShowOTP(event)" draggable="false" />
                  <img id="qrcode" class="otp fadeIn"  src="/images/{{$.context.Theme}}/qr.png" draggable="false" />
                </div>
              </div>
              <div class="panel">
                <div class="field verify">
                  <input id="otp" name="otp" type="numeric" size="8" placeholder="OTP" value="" />
                </div>
                <button class="plain verify" onclick="onVerifyOTP(event)">{{.Password.OTP.Verify}}</button>
                <button class="plain revoke" onclick="onRevokeOTP(event)">{{.Password.OTP.Revoke}}</button>
              </div>
            </fieldset>

            <!--  MESSAGE + DONE -->
            <div id="bottom">
              <div id="message" class="message">
                <input id="warning" class="warning" readonly />
              </div>
              <button class="plain" onclick="onDone(event)">{{.Password.Done.Label}}</button>
            </div>

          </div>
          <div></div>
        </div>
      </main>

      <!-- SIDEBAR -->
      <aside>
      </aside>

      {{template "footer" .}}

    </div>
  </body>

  <!-- SCRIPTS -->
 
  <script type="module">
    import { onShowHidePassword } from "/javascript/uhppoted.js"
    import { onPassword, onEnableOTP, onShowOTP, onHideOTP, onVerifyOTP, onRevokeOTP } from "/javascript/password.js"

    window.onDone = function(event) {
      event.preventDefault()

      window.location = document.referrer
    }

    window.onPassword = onPassword
    window.onShowHidePassword = onShowHidePassword
    window.onShowOTP = onShowOTP
    window.onHideOTP = onHideOTP
    window.onEnableOTP = onEnableOTP
    window.onVerifyOTP = onVerifyOTP
    window.onRevokeOTP = onRevokeOTP

  </script>

  <!-- global information initialised by Go template -->
  <script>
    var constants = {
      theme: {{$.context.Theme}},
      mode: {{ $.context.Mode}},
    }

    var messages = {
      unauthorized: '{{.Password.Unauthorized}}'
    }
  </script>
</html>


