<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="users" data-theme="{{$.context.Theme}}">
  <head>
    <title>uhppoted-httpd: Users</title>
    <link rel="manifest"   href="/manifest.json">
    <link rel="icon"       href="/images/favicon.svg">
    <link rel="stylesheet" href="/css/uhppoted.css" type="text/css">
    <meta charset="UTF-8">
  </head>

  <body> 
    <div id="content">

      {{template "user"   .}}
      {{template "header" .}}
      {{template "nav"    (nav "users")}}

      <!-- MAIN -->
      <main>
        {{template "loading" .}}

        <div id="container" class="loading">
          <div id="controls" data-oid="{{ .schema.Users.OID }}">
            <img id="commitall" class='button' src="/images/{{$.context.Theme}}/check-solid.svg" onclick="onCommitAll('users', event, 'users')" draggable="false" />
            <img id="rollbackall" class='button' src="/images/{{$.context.Theme}}/times-solid.svg" onclick="onRollbackAll('users', event)"  draggable="false"  />
            {{template "message"   .}}
            {{template "windmill"  .}}
            <img id="add"     class='button' src="/images/{{$.context.Theme}}/plus-solid.svg" onclick="onNew('user')" />
            <img id="refresh" class='button' src="/images/{{$.context.Theme}}/sync-alt-solid.svg" onclick="onRefresh('users', event)" />
          </div>

          <div id="users" class="tabular">
            <table>
              <thead>
                <tr>
                  <th class="name    colheader rowheader">Name</th>
                  <th class="uid     colheader">User&nbsp;ID</th>
                  <th class="role    colheader">Role</th>
                  <th class="pwd     colheader">Password</th>
                  <th class="otp     colheader">OTP</th>
                  <th class="locked  colheader">Locked</th>
                  <th class="padding colheader"></th>
                </tr>
              </thead>
              <tbody></tbody>
              <tfoot></tfoot>
            </table>

            <template id="user">
                <td class="rowheader" style="display:flex; flex-direction:row;">
                  <input class="field name" 
                         type="text" 
                         value="" 
                         placeholder="-" 
                         onchange="onEdited('user', event)" 
                         onkeydown="onEnter('user', event)" 
                         data-record="" 
                         data-original="" 
                         data-value=""
                         {{if .readonly}}readonly{{end}} />
                  <span class="control commit"   onclick="onCommit('user', event)"   data-record="">
                    <img src="/images/{{$.context.Theme}}/check-solid.svg" />
                  </span>
                  <span class="control rollback" onclick="onRollback('user', event)" data-record="">
                    <img src="/images/{{$.context.Theme}}/times-solid.svg" />
                  </span>
                </td>

                <td>
                  <input class="field uid"
                         type="text" 
                         placeholder="-"
                         onchange="onEdited('user', event)" 
                         onkeydown="onEnter('user', event)" 
                         data-record=""
                         data-original=""
                         data-value=""
                         {{if .readonly}}readonly{{end}} />
                </td>

                <td>
                  <input class="field role"
                         type="text" 
                         placeholder="-"
                         onchange="onEdited('user', event)" 
                         onkeydown="onEnter('user', event)" 
                         data-record=""
                         data-original=""
                         data-value=""
                         {{if .readonly}}readonly{{end}} />
                </td>

                <td>
                  <input class="field password"
                         type="password" 
                         placeholder="********"
                         onchange="onEdited('user', event)" 
                         onkeydown="onEnter('user', event)" 
                         data-record=""
                         data-original=""
                         data-value="" 
                         autocomplete="new-password"
                         {{if .readonly}}readonly{{end}} />
                </td>

                <td>
                  <label class="otp">
                    <input class="field"
                           type="checkbox" 
                           onclick="onTick('user', event)"
                           data-record="" 
                           data-original="" 
                           data-value=""
                           {{if .readonly}}disabled{{end}} />
                    <img class="no"  src="/images/{{$.context.Theme}}/times-solid.svg" draggable="false" />
                    <img class="yes" src="/images/{{$.context.Theme}}/check-solid.svg" draggable="false" />
                  </label>
                </td>

                <td>
                  <label class="locked">
                    <input class="field"
                           type="checkbox" 
                           onclick="onTick('user', event)"
                           data-record="" 
                           data-original="" 
                           data-value=""
                           {{if .readonly}}disabled{{end}} />
                    <img class="no"  src="/images/{{$.context.Theme}}/times-solid.svg" draggable="false" />
                    <img class="yes" src="/images/{{$.context.Theme}}/check-solid.svg" draggable="false" />
                  </label>
                </td>
                
                <!-- 'padding' column (CSS: tr::last-child) -->
                <td class="padding"></td>
            </template>


          </div>
        </div>
      </main>

      {{template "footer" .}}

    </div>
  </body>

  <!-- SCRIPTS -->

  <script type="module">
    {{template "uhppoted.js" .}}
    {{template "tabular.js"  .}}
    {{template "window.js"   .}}

    const refresh = function() {
      onRefresh('users')      
    }

    resetIdle()
    prefetch('users')      
    setRefresh(refresh)
  </script>

  <!-- global information initialised by Go template -->
  <script>
    var constants = {
      theme: {{$.context.Theme}},
      mode: {{ $.context.Mode}},
    }

    function onMenu(event, state) {
      if (window.onMenuX) {
        window.onMenuX(event, state)
      } else {
        console.debug('onMenu is not defined')
      }
    }
  </script>

</html>