#loading {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: start;

  display: none;
  visibility: hidden;
  margin-top: 120px;
  margin-bottom: 0px;
  margin-left: -120px;
  margin-right: 0px;
  z-index: 5;
}

#loading:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  margin: auto;
  width: 120px;
  height: 120px;
  margin-top: 12px;
  border-radius: 50%;
  border-top: var(--loading-border);
  border-right: 5px solid transparent;
  animation: windmill 0.9s linear infinite;
}

#loading.visible {
  display: block;
  visibility: visible;
}

@keyframes loading {
  to {transform: rotate(360deg);}
}
