#offline {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;  
  padding-top: 96px;
}

#offline > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;  
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  border: var(--offline-border);
}

#offline p {
  font-family: Sans-Serif;
  font-size: 0.75em;
  color: var(--offline-colour);
  margin-bottom: 16px;
}

#offline a {
  font-family: Sans-Serif;
  font-size: 0.6em;
  color: var(--link-colour);
  text-decoration: none;
}

#offline a:hover,visited {
  color: var(--link-colour);
  text-decoration: none;
}

#offline div a {
  font-family: Sans-Serif;
  font-size: 0.7em;
  color: var(--link-colour);
}

#offline + div > p {
  font-family: Sans-Serif;
  font-size: 0.75em;
  font-weight: normal;
  text-align: center;
  color: var(--offline-colour);
  margin-top: 4px;
}
