@charset "UTF-8";

@import '_solarize';

$content-background: $solarize-base3         !default;
$content-controls-border: $solarize-blue     !default;

$message-background: $solarize-base2 !default;

$warning-colour: $solarize-red            !default;
$warning-dismiss-colour: $solarize-base03 !default;
$enabled-colour: $solarize-yellow         !default;

$user-avatar-background: $solarize-base2              !default;
$user-avatar-text: $solarize-base01                   !default;
$user-avatar-shadow: 3px 3px 3px #d8d8d8              !default;
$user-menu-background: $solarize-base2                !default;
$user-menu-shadow: 3px 3px 3px #d8d8d8                !default;
$user-menu-item: $solarize-base01                     !default;
$user-menu-item-highlight: $solarize-base2            !default;
$user-menu-item-highlight-background: $solarize-base1 !default;

$nav-background: darken($solarize-base2, 5%) !default;
$nav-text-colour: $solarize-blue;

$footer-background: $solarize-base2 !default;
$footer-text: $solarize-base03 !default;

$fieldset-text: $solarize-base03 !default;
$fieldset-hint: $solarize-base1  !default;
$fieldset-border: 1px solid silver !default;
$fieldset-button-border: 2px solid $solarize-red !default;
$fieldset-button-border-plain: 2px solid $solarize-base1  !default;
$fieldset-button-border-cancel: 2px solid $solarize-base1 !default;
$fieldset-warning-text: $solarize-red !default;

$field-border: 1px solid $solarize-base00;
$field-border-readonly: 1px solid lighten($solarize-base1,10%);
$field-input-background: $solarize-base3 !default;


$content-table-background:          $solarize-base2                !default;
$content-table-background-header:   darken($solarize-base2, 5%)    !default;
$content-table-background-odd:      $solarize-base3                !default;
$content-table-background-even:     $solarize-base2                !default;
$content-table-row-error:           lighten($solarize-red, 20%)    !default;
$content-table-row-modified:        lighten($solarize-yellow, 50%) !default;
$content-table-row-new:             lighten($solarize-blue, 30%)   !default;
$content-table-row-unconfigured:    $solarize-yellow               !default;
$content-table-row-uncertain:       $solarize-violet               !default;
$content-table-background-pending:  transparentize($solarize-violet, 0.5);
$content-table-item-conflict:       transparentize($solarize-orange, 0.75);
$content-table-border:              $solarize-blue !default;
$content-table-yes:                 $solarize-base02;
$content-table-no:                  $solarize-base0;
$content-table-changed:             $solarize-red;
$content-table-commit:              $solarize-green  !default;
$content-table-rollback:            $solarize-red    !default;
$content-table-text:                $solarize-base03 !default;
$content-table-item-normal:         $solarize-base03 !default;
$content-table-item-unknown:        $solarize-base1  !default;
$content-table-item-unconfigured:   $solarize-yellow !default;
$content-table-item-uncertain:      $solarize-violet !default;
$content-table-item-incomplete:     lighten($solarize-orange,15%) !default;
$content-table-item-error:          $solarize-red    !default;
$content-table-scrollbar-color:     auto             !default;
$content-table-flag:                url('/images/default/corner.svg');  
$content-table-flag-modified:       invert(61%) sepia(14%) saturate(250%)  hue-rotate(138deg) brightness(92%) contrast(92%);
$content-table-flag-conflict:       invert(56%) sepia(94%) saturate(7076%) hue-rotate(349deg) brightness(95%) contrast(82%);
$content-table-flag-pending:        invert(38%) sepia(78%) saturate(999%) hue-rotate(174deg) brightness(102%) contrast(78%);

$content-svg-filter-commit:   invert(58%) sepia(89%) saturate(3723%) hue-rotate(41deg) brightness(98%) contrast(101%) !default;
$content-svg-filter-rollback: invert(30%) sepia(41%) saturate(3835%) hue-rotate(344deg) brightness(89%) contrast(92%) !default;

$controls-background: $solarize-base2;

$tab-background: $solarize-base2;
$tab-background-selected: $solarize-base1;

$button-border: 2px solid $solarize-red;

$combobox-background: $solarize-base2;
$combobox-border: 1px solid #93a1a1;
$combobox-li-colour: #666666;
$combobox-li-selected: #def;

$combobox-mode-background: lighten($solarize-base3,10%);

$eye-colour: $solarize-green;
$dashboard-windmill: $solarize-blue;
$link-colour: $solarize-blue;
$offline-border: $solarize-red;
$offline-colour: $solarize-base0;

$shaded-background: repeating-linear-gradient(-55deg, #808080ff, #22222220 1px, #22222220 20px);
$password-credentials-background: $message-background;
