@import '_solarize';

$palette-base03:  $solarize-base03;
$palette-base02:  $solarize-base02;
$palette-base01:  $solarize-base01;
$palette-base00:  $solarize-base00;
$palette-base0:   $solarize-base0;
$palette-base1:   $solarize-base1;
$palette-base2:   $solarize-base2;
$palette-base3:   $solarize-base3;
$palette-yellow:  $solarize-yellow;
$palette-orange:  $solarize-orange;
$palette-red:     $solarize-red;
$palette-magenta: $solarize-magenta;
$palette-violet:  $solarize-violet;
$palette-blue:    $solarize-blue;
$palette-cyan:    $solarize-cyan;
$palette-green:   $solarize-green;