@use '_solarize';

$palette-base03:  solarize.$solarize-base03;
$palette-base02:  solarize.$solarize-base02;
$palette-base01:  solarize.$solarize-base01;
$palette-base00:  solarize.$solarize-base00;
$palette-base0:   solarize.$solarize-base0;
$palette-base1:   solarize.$solarize-base1;
$palette-base2:   solarize.$solarize-base2;
$palette-base3:   solarize.$solarize-base3;
$palette-yellow:  solarize.$solarize-yellow;
$palette-orange:  solarize.$solarize-orange;
$palette-red:     solarize.$solarize-red;
$palette-magenta: solarize.$solarize-magenta;
$palette-violet:  solarize.$solarize-violet;
$palette-blue:    solarize.$solarize-blue;
$palette-cyan:    solarize.$solarize-cyan;
$palette-green:   solarize.$solarize-green;