html.users {
  #container {
    width: fit-content;
    height:100%;
    max-width:100%;
    min-width: 80%;

    display: flex;
    flex-direction:column;
  }

  th.name {
    min-width: 90px;
    border-bottom: 1px;
  }

  tr.user td input.name {
    width: 90px;
  }

  td label.otp {
    cursor: pointer;
    visibility: hidden;
  }

  td label.otp.visible {
    visibility: visible;
  }

  td label.otp input[type="checkbox"] {
    display: none;
  }

  td label.otp img {
    width: 14px;
    height: 14px;
    padding: 2px;
    margin: auto;
  }

  td label.otp img.yes {
    display: none;
    filter: invert(42%) sepia(93%) saturate(703%) hue-rotate(35deg) brightness(101%) contrast(101%)
  }

  td label.otp img.no {
    display: block;
    filter: invert(100%) sepia(30%) saturate(7%) hue-rotate(292deg) brightness(81%) contrast(103%);
  }

  td label.otp input[type="checkbox"]:checked ~ img.yes {
    display: block;
  }

  td label.otp input[type="checkbox"]:checked ~ img.no {
    display: none;
  }

  td label.locked {
    cursor: pointer;
    visibility: hidden;
  }

  td label.locked.visible {
    visibility: visible;
  }

  td label.locked input[type="checkbox"] {
    display: none;
  }

  td label.locked img {
    width: 14px;
    height: 14px;
    padding: 2px;
    margin: auto;
  }

  td label.locked img.yes {
    display: none;
    filter: invert(42%) sepia(93%) saturate(703%) hue-rotate(35deg) brightness(101%) contrast(101%)
  }

  td label.locked img.no {
    display: block;
    filter: invert(100%) sepia(30%) saturate(7%) hue-rotate(292deg) brightness(81%) contrast(103%);
  }

  td label.locked input[type="checkbox"]:checked ~ img.yes {
    display: block;
  }

  td label.locked input[type="checkbox"]:checked ~ img.no {
    display: none;
  }

  // Safari fixes
  input.apple {
    font-size: 13.333px;
  }
}
