@use '../palettes/solarize' as colours;
@use 'sass:color';

$base03: colours.$base03;
$base01: colours.$base01;
$base00: colours.$base00;
$base0: colours.$base0;
$base1: colours.$base1;
$base2: colours.$base2;
$base3: colours.$base3;
$red: colours.$red;
$orange: colours.$orange;
$yellow: colours.$yellow;
$green: colours.$green;
$blue: colours.$blue;
$violet: colours.$violet;

[data-theme="light"] {
}
