$solarize-base03:  #002b36;
$solarize-base02:  #073642;
$solarize-base01:  #586e75;
$solarize-base00:  #657b83;
$solarize-base0:   #839496;
$solarize-base1:   #93a1a1;
$solarize-base2:   #eee8d5;
$solarize-base3:   #fdf6e3;
$solarize-yellow:  #b58900;
$solarize-orange:  #cb4b16;
$solarize-red:     #dc322f;
$solarize-magenta: #d33682;
$solarize-violet:  #6c71c4;
$solarize-blue:    #268bd2;
$solarize-cyan:    #2aa198;
$solarize-green:   #859900;

$content-background: $solarize-base3;
$content-message-background: $solarize-base2;

$content-controls-border: $solarize-blue;

$content-table-background:          $solarize-base2;
$content-table-background-header:   darken($solarize-base2, 5%);
$content-table-background-odd:      $solarize-base3;
$content-table-background-even:     $solarize-base2;
$content-table-row-modified:        lighten($solarize-yellow, 50%);
$content-table-row-new:             lighten($solarize-blue, 50%);
$content-table-background-pending:  transparentize($solarize-violet, 0.5);
$content-table-item-conflict:       transparentize($solarize-orange, 0.75);
$content-table-border:              $solarize-blue;
$content-table-yes:                 $solarize-base02;
$content-table-no:                  $solarize-base0;
$content-table-changed:             $solarize-red;
$content-table-commit:              $solarize-green;
$content-table-rollback:            $solarize-red;

$content-svg-filter-commit:   invert(58%) sepia(89%) saturate(3723%) hue-rotate(41deg) brightness(98%) contrast(101%);
$content-svg-filter-rollback: invert(30%) sepia(41%) saturate(3835%) hue-rotate(344deg) brightness(89%) contrast(92%);

$controls-background:          $solarize-base2;
$controls-menu-background:     $solarize-base2;
$controls-menu-item:           $solarize-base01;
$controls-menu-item-highlight: $solarize-base2;
$controls-menu-item-highlight-background: $solarize-base1;

$dashboard-windmill: $solarize-blue;

$tab-background: $solarize-base2;
$tab-background-selected: $solarize-base1;

$field-border: 1px solid $solarize-base00;

$button-border: 2px solid $solarize-red;

$eye-colour: $solarize-green;

$warning-colour: $solarize-red;

$link-colour: $solarize-blue;
