@use 'solarize' as theme;

th.name {
  min-width: 96px;
  border-bottom: 1px;
}

th.ID {
  min-width: 96px;
}

th.IP {
  min-width: 120px;
}

th.datetime {
  min-width: 140px;
}

th.cards {
  min-width: 80px;
}

th.events {
  min-width: 80px;
}

th.doors {
  min-width: 72px;
}

td input.name {
  width: 108px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
}

td input.name:focus {
  border: 1px solid red;
}

td input.ID {
  width: 96px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
}

td.ID input::-webkit-inner-spin-button, 
td.ID input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

td input.IP {
  min-width: 120px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
}

td input.IP:focus {
  border: 1px solid red;
}

td input.datetime {
  width: 124px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  font: 400 0.9em Arial;
  outline: none;
}

td input.datetime:focus {
  border: 1px solid red;
}

td input.cards {
  width: 80px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  text-align: center; 
}

td input.events {
  width: 80px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  text-align: center; 
}

td input.door {
  width: 64px;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
}

td input.door:focus {
  border: 1px solid red;
}


