#container {
  display: flex; 
  flex-direction:column; 
  width: fit-content;
  height:100%;
  max-width:100%; 
}

table.interface {
  background: $content-table-background-header;
  color: $palette-base01;
  width: min-content;
  margin-bottom: 4px;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font: 400 0.9em Arial;
  border-radius: 3px;
}

table.interface tr {
  padding-top: 0px;
  padding-bottom: 0px;
} 

table.interface td {
  position: relative;
  font-variant: small-caps;
}

table.interface tr td:last-child { 
  width:min-content; 
} 

table.interface td.modified::before {
  content: url('/images/default/block.svg');  
  position: absolute;
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  line-height:0px;  // only hack that works :-(
  filter: $content-table-flag-modified;
}

table.interface td.conflict::before {
  content: url('/images/default/block.svg');  
  position: absolute;
  left: 0px;
  top: -4px;
  width: 6px;
  height: 6px;
  line-height:0px;  // only hack that works :-(
  filter: $content-table-flag-conflict;
}

table.interface td.pending::before {
  content: url('/images/default/block.svg');  
  position: absolute;
  left: 0px;
  top: -4px;
  width: 6px;
  height: 6px;
  line-height:0px;  // only hack that works :-(
  filter: $content-table-flag-pending;
}

table.interface td input {
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  margin-left: 2px;
  color: $palette-base01;
  font: 400 0.9em Arial;
}

table.interface td input:focus {
  border: 1px solid red;
}

table.interface td input.name {
  padding: 0px 0px 0px 0px;
  border: none;
  font-weight: bold;
}

table.interface td span.control {
  padding: 0px 0px 0px 0px;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  visibility: hidden;
}

table.interface td span.commit {
  color: $content-table-commit;  
}

table.interface td span.rollback {
  color: $content-table-rollback;  
}

table.interface.modified td span.control {
  visibility: visible;
}

th.name {
  min-width: 90px;
  border-bottom: 1px;
}

th.ID {
  min-width: 88px;
}

th.IP {
}

th.datetime {
  min-width: 176px;
}

th.cards {
  text-align: center; 
}

th.events {
  text-align: center; 
}

th.doors {
}

tr.controller td input.name {
  width: 90px;
}

tr.controller td input.ID {
  width: 88px;
  -moz-appearance:textfield;
}

tr.controller td input.IP {
  width: 112px;
}

tr.controller td label.protocol {
  input[type="checkbox"] {
    display: none;
  }

  img {
    width: 14px;
    height: 14px;
    padding: 2px;
    margin: auto;
  }

  img.yes {
    display: none;
    filter: invert(42%) sepia(93%) saturate(703%) hue-rotate(35deg) brightness(101%) contrast(101%)
  }

  img.no {
    display: block;
    filter: invert(100%) sepia(30%) saturate(7%) hue-rotate(292deg) brightness(81%) contrast(103%);
  }

  input[type="checkbox"]:checked ~ img.yes {
    display: block;
  }

  input[type="checkbox"]:checked ~ img.no {
    display: none;
  }
}

tr.controller td input.datetime {
  min-width: 176px;
}

tr.controller td input.cards {
  width: 72px;
  text-align: center; 
  pointer-events: none;
}

tr.controller td input.events {
  width: 72px;
  text-align: center; 
  pointer-events: none;
}

tr.controller td select.door1,.door2,.door3,.door4 {
  width: 72px;
}

