#container {
  width: fit-content;
  height:100%;
  max-width:100%; 
  min-width: 80%;

  display: flex; 
  flex-direction:column; 
}

th.name {
  min-width: 90px;
  border-bottom: 1px;
  text-align: left !important;
}

tr.door td input.name {
  width: 90px;
}

tr.door td input.controller {
  pointer-events: none;
}

tr.door td input.deviceID {
  pointer-events: none;
}

tr.door td input.doorID {
  width: 16px;
  pointer-events: none;
}

tr.door td input.mode {
  text-align: left; 
  font-size: 1.1em;
  font-family: sans-serif;
  font-variant: small-caps;
}

tr.door td input.delay {
  text-align: center; 
}

tr.door input.mode + ul {
  background: $combobox-mode-background;
}

tr.door input.mode + ul li {
  font-family: sans-serif;
  font-variant: small-caps;
  font-caps-variant: all-small-caps;
}
