@use "../base/default";

#container {
  width: fit-content;
  height:100%;
  max-width:100%; 
  min-width: 80%;

  display: flex; 
  flex-direction:column; 
}

th.name {
  min-width: 90px;
  border-bottom: 1px;
  text-align: left !important;
}

tr.door td input.name {
  width: 90px;
}

tr.door td input.controller {
  pointer-events: none;
}

tr.door td input.deviceID {
  pointer-events: none;
}

tr.door td input.doorID {
  width: 16px;
  pointer-events: none;
}

tr.door td input.mode {
  width: 140px;
  text-align: left; 
  font-size: 1.1em;
  font-family: sans-serif;
  font-variant: small-caps;
}

tr.door td input.delay {
  text-align: center; 
}

tr.door input.mode + ul {
  background: default.$combobox-mode-background;
}

tr.door input.mode + ul li {
  font-family: sans-serif;
  font-variant: small-caps;
  font-caps-variant: all-small-caps;
}

td label.keypad {
  cursor: pointer;  

  input[type="checkbox"] {
    display: none;
  }

  img {
    width: 14px;
    height: 14px;
    padding: 2px;
    margin: auto;
  }

  img.yes {
    display: none;
    filter: invert(42%) sepia(93%) saturate(703%) hue-rotate(35deg) brightness(101%) contrast(101%)
  }

  img.no {
    display: block;
    filter: invert(100%) sepia(30%) saturate(7%) hue-rotate(292deg) brightness(81%) contrast(103%);
  }

  input[type="checkbox"]:checked ~ img.yes {
    display: block;
  }

  input[type="checkbox"]:checked ~ img.no {
    display: none;
  }
}

tr.door td input.passcodes {
  width: 224px;
}

// Safari fixes
input.apple {
  font-size: 13.333px;
}

input.deviceID.apple {
  font-size: 12px;
}
