#container {
  display: flex; 
  flex-direction:column; 
  width:100%; 
  height:100%;
}

div#controllers {
  th.name {
    min-width: 90px;
    border-bottom: 1px;
  }

  th.ID {
    min-width: 88px;
  }

  th.datetime {
    min-width: 176px;
  }

  th.cards {
    text-align: center; 
  }

  th.events {
    text-align: center; 
  }

  th.doors {
  }

  tr.controller td {
  }

  tr.controller td input.name {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 132px;
    pointer-events: none;
  }

  tr.controller td input.ID {
   width: 88px;
   pointer-events: none;
   -moz-appearance:textfield;
  }

  tr.controller td input.datetime {
    min-width: 176px;
    pointer-events: none;
  }

  tr.controller td input.cards {
    width: 72px;
    text-align: center; 
    pointer-events: none;
  }

  tr.controller td input.events {
    width: 72px;
    text-align: center; 
    pointer-events: none;
  }

  tr.controller td input.door1,.door2,.door3,.door4 {
    width: 72px;
    pointer-events: none;
  }
}

div#events {
  margin-top: 16px;

  th.timestamp {
    border-bottom: 1px;
    white-space: nowrap;
    min-width: 140px; 
  }

  th.deviceID {
    min-width: 80px;
  }

  th.eventType {
    min-width: 56px;
  }

  th.direction {
    min-width: 16px;
  }

  th.door {
    min-width: 104px;
  }

  th.cardno {
    min-width: 56px;
  }

  th.card {
    min-width: 120px;
  }

  th.access {
    min-width: 60px;
  }

  th.reason {
    min-width: 100px;
  }

  td input.timestamp {
    width: 140px;
    height: 18px;
    font-size: 0.88em;
  }

  td input.device {
    width: 72px;
    font-size: 1.1em;
    font-variant: small-caps;
  }

  td input.eventType {
    width: 56px;
    font-size: 1.1em;
    font-variant: small-caps;
  }

  td input.door {
    width: 96px;
    font-size: 1.1em;
    font-variant: small-caps;
  }

  td input.cardno {
    width: 56px;
    font-size: 0.88em;
  }

  td input.card {
    width: 120px;
    font-size: 1.1em;
    font-variant: small-caps;
  }

  td input.access {
    width: 72px;
    font-size: 1.1em;
    font-variant: small-caps;
  }

  td input.reason {
    font-size: 1.1em;
    font-variant: small-caps;
  }
}

div#logs {
  margin-top: 16px;

  th.timestamp {
    border-bottom: 1px;
    white-space: nowrap;
    min-width: 140px;
  }

  th.uid {
    white-space: nowrap;
    min-width: 72px;
  }

  th.details {
    white-space: nowrap;
    min-width: 140px;
  }

  td input.timestamp {
    width: 140px;
    height: 18px;
    font-size: 0.88em;
  }

  td input.uid {
    width: 72px;
    white-space: nowrap;
    font-variant: small-caps;
    font-size: 1.2em;
  }

  td input.details {
    width: 90%;
    font-style: italic;
  }
}

@-moz-document url-prefix('') {
  td input.field {
    font-family: "Arial", san-serif;
    font-size: 1em;
  }
  td input.access {
    font-size: 0.88em;
  }

  td input.timestamp {
    font-size: 0.88em;
  }

  td input.uid {
    font-size: 0.88em;
  }

  td input.details {
    font-size: 0.9em;
  }
}
