img {
  user-select: none;
}

#container {
  display: grid; 
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr;
  justify-content:center;

  button {
    font-size: 0.75em;
    min-width: 96px;  
    padding: 4px 16px 4px 16px;
    border-radius: 4px;
    outline: none;
    color: $fieldset-text;
    border: $fieldset-button-border;
  }

  button.plain {
    border: $fieldset-button-border-plain;
  }
}

#form {
  display: grid; 
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "top top" "password otp" "bottom bottom";
  justify-content: center;
  column-gap: 12px;
  padding-top:48px;
}

#form fieldset {
  display: block;
  border: $fieldset-border;
  margin: 12px 0px 4px 0px;
  padding: 8px;
  border-radius: 4px;
  color: $fieldset-text;
}

#form fieldset form {
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

#form fieldset legend {
  font-size: 0.9em;  
  font-style: italic;
}

.field {
  display: flex;
  border-radius: 4px;
  box-sizing: content-box;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: $field-border;
}

div#uid-pwd {
  grid-area: top;  
  display: flex;
  justify-content: flex-start;
  column-gap: 16px;
  background: $fieldset-message-background;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;

  .field {
    width: fit-content;
  }
}

fieldset#password {
  grid-area: password;

  button {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 16px;
  }
}

fieldset#otp {
  grid-area: otp;
}

div#bottom {
  grid-area: bottom;
  display: flex;
  column-gap: 8px;
  align-items: center;

  button {
    height: 100%;
  }
}

.field {
  display: flex;
  border-radius: 4px;
  box-sizing: content-box;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: $field-border;
}

.field.readonly {
  border: $field-border-readonly;
}

.field input {
  font-size: 0.8em;  
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  outline: none;
  color: $fieldset-text;
}

.field input[type="checkbox"] {
  margin-left: 8px;
}

.field label {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Arial", san-serif;
  font-size: 0.8em;  
  text-align: baseline;
  outline: none;
  color: $fieldset-text;
}

.field.checkbox label {
  padding-right: 4px;
}

.field img {
  display: inline-block;
  width: 16px;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
}

.field input::placeholder {
  font-style: italic;
  color: $fieldset-hint;
}

.field.checkbox {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 32px;
  margin-bottom: 0px;
  border: none;
}

div.otp {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;  
}

img.placeholder {
  border-radius: 6px;  
  padding: 0px;
}

.holder {
  grid-row-start: 1;
  grid-column-start: 1;
  display: grid;
  grid-template-columns: 1fr;
}

img.otp {
  grid-row-start: 1;
  grid-column-start: 1;
  width: 192px;  
}

.otpx {
  width: 100%;
  display: flex;
  justify-content: flex-end;  
  align-items: stretch;
  column-gap: 8px;

  button {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

#OTP[data-enabled="false"] {
  .placeholder {
    visibility: visible;  
  }

  .holder,#hide-otp,#show-otp,#qrcode  {
    visibility: hidden;
  }

  .verify,.revoke {
    display: none;
  }
}

#OTP[data-enabled="pending"] {
  .placeholder {
    visibility: hidden;  
  }

  .holder {
    visibility: visible;
  }

  .verify {
    display: block;
  }

  .revoke {
    display: none;
  }
}

#OTP[data-enabled="true"] {
  .placeholder {
    visibility: hidden;  
  }

  .holder {
    visibility: visible;
  }

  .verify {
    display: none;
  }

  .revoke {
    display: block;
  }
}

#OTP:not([data-enabled="false"])[data-otp="hide"] {
  #hide-otp {
    visibility: hidden;
  }

  #show-otp {
    visibility: visible;
  }

  #qrcode {
    visibility: hidden;
  }
}

#OTP:not([data-enabled="false"])[data-otp="show"] {
  #hide-otp {
    visibility: visible;
  }

  #show-otp {
    visibility: hidden;
  }

  #qrcode {
    visibility: visible;
  }
}


#message { 
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 0px 4px 0px;
  font-size: 0.85em;
  background: $fieldset-message-background;
  visibility: visible;
}

#message.visible { 
  visibility: visible;
}

#message .warning { 
  color: $fieldset-warning-text;
  text-align: center;
  text-overflow: ellipsis;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  outline: none;
}

.fadeIn {
  animation: fadeIn 1s linear forwards;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeIn {
   0%   {opacity: 0;}
   50%  {opacity: 0.1;}
   100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
   0%   {opacity: 0;}
   50%  {opacity: 0.1;}
   100% {opacity: 1;}
}
