img {
  user-select: none;
}

button {
  font-size: 0.75em;
  min-width: 96px;  
  padding: 4px 16px 4px 16px;
  border-radius: 4px;
  outline: none;
  color: $fieldset-text;
  border: $fieldset-button-border;
}

button.plain {
  border: $fieldset-button-border-plain;
}

fieldset {
  display: block;
  border: $fieldset-border;
  margin: 12px 0px 4px 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  color: $fieldset-text;
}

legend {
  font-size: 0.9em;  
  font-style: italic;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.field {
  display: flex;
  border-radius: 4px;
  box-sizing: content-box;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: $field-border;
}

.field.readonly {
  border: $field-border-readonly;
}

.field input {
  font-size: 0.8em;  
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  outline: none;
  color: $fieldset-text;
}

.field img {
  display: inline-block;
  width: 16px;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
}

.field input::placeholder {
  font-style: italic;
  color: $fieldset-hint;
}

label.checkbox {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Arial", san-serif;
  font-size: 0.8em;  
  text-align: baseline;
  outline: none;
  color: $fieldset-text;
}

label.checkbox input[type="checkbox"] {
  display: none;
}

label.checkbox img {
  width: 14px;
  height: 14px;
  padding: 2px;
  margin-left: 4px;
}

label.checkbox img.yes {
  display: none;
  filter: invert(42%) sepia(93%) saturate(703%) hue-rotate(35deg) brightness(101%) contrast(101%)
}

label.checkbox img.no {
  display: block;
  filter: invert(100%) sepia(30%) saturate(7%) hue-rotate(292deg) brightness(81%) contrast(103%);
}

label.checkbox input[type="checkbox"]:checked ~ img.yes {
  display: block;
}

label.checkbox input[type="checkbox"]:checked ~ img.no {
  display: none;
}

#container {
  display: flex; 
  justify-content:center;
  align-items: flex-start;
}

#form {
  display: grid; 
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "top top" "password otp" "bottom bottom";
  justify-content: center;
  column-gap: 12px;
  padding-top:48px;
}

#credentials {
  grid-area: top;  
  display: flex;
  justify-content: flex-start;
  column-gap: 16px;
  background: $password-credentials-background;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;

  .field {
    width: fit-content;
  }
}

#password {
  grid-area: password;

  button {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 16px;
  }
}

#bottom {
  grid-area: bottom;
  display: flex;
  column-gap: 8px;
  align-items: center;

  button {
    height: 100%;
  }
}

#OTP {
  display: grid;  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#OTP div.overlay {
  grid-row-start: 1;
  grid-column-start: 1;
  width: 100%;
  height: 100%;
  z-index: 2;

  div.shading {
    background: $shaded-background;
    width: 100%;
    height: calc(100% - 24px);
    margin-top: 20px;
    border-radius: 6px;
  }
}

#OTP {
  fieldset {
    grid-row-start: 1;
    grid-column-start: 1;
    padding-left: 16px !important;
    padding-right: 16px !important;

    div.enable {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0px;
      padding-bottom: 3px;
      margin-top: 0px;
      margin-bottom: 0px;
      border: none;
      box-sizing: content-box;

      img#hide-otp {
        display: inline-block;
        width: 16px;
        height: 100%;
        padding-left: 8px;
        padding-right: 8px;
        margin-right: 6px;
        vertical-align: middle;
      }

      div.enabled {
        margin-left: 8px;
      }
    }
  }

  .panel {
    display: flex;
    justify-content: flex-end;  
    align-items: stretch;
    column-gap: 8px;
    margin-top: 5px;
    margin-right: 8px;

    button {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
}


#checkbox {
  display: grid;
  grid-template-columns: 1fr;
}

#checkbox label {
  grid-row-start: 1;
  grid-column-start: 1;
  margin-left: 8px;
  padding-left: 0px;
}

#checkbox input {
  margin-left: 8px;
}

#checkbox div.enabled {
  grid-row-start: 1;
  grid-column-start: 1;
  color: $enabled-colour;
  font-family: sans-serif;
  font-weight: 600;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
}

div.otp {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;  

  .holder {
    grid-row-start: 1;
    grid-column-start: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

img.otp {
  grid-row-start: 1;
  grid-column-start: 1;
  width: 192px;  
}

img.placeholder {
  border-radius: 6px;  
  padding: 0px;
}

#qrcode {
  width: 160px;
  padding: 16px;
  background: white;
  border-radius: 12px;
  opacity: 0;
  visiblity: 0;
}

#OTP[data-allowed="true"] {
  div.overlay {
    display: none;
  }
}

#OTP fieldset[data-enabled="false"] {
  #checkbox label {
    visibility: visible;
  }

  #checkbox div {
    visibility: hidden;
  }

  .placeholder {
    visibility: visible;  
  }

  .holder,#hide-otp,#show-otp {
    visibility: hidden;
  }

  #qrcode  {
    opacity: 0;
  }

  .verify,.revoke {
    display: none;
  }
}

#OTP fieldset[data-enabled="pending"] {
  #checkbox label {
    visibility: visible;
  }

  #checkbox div {
    visibility: hidden;
  }

  .placeholder {
    visibility: hidden;  
  }

  .holder {
    visibility: visible;
  }

  .verify {
    display: block;
  }

  .revoke {
    display: none;
  }
}

#OTP fieldset[data-enabled="true"] {
  #checkbox label {
    visibility: hidden;
  }

  #checkbox div {
    visibility: visible;
  }

  .placeholder {
    visibility: hidden;  
  }

  .holder {
    visibility: visible;
  }

  .verify {
    display: none;
  }

  .revoke {
    display: block;
  }
}

#OTP fieldset:not([data-enabled="false"])[data-otp="hide"] {
  #hide-otp {
    visibility: hidden;
  }

  #show-otp {
    visibility: visible;
  }

  #qrcode {
    visibility: hidden;
  }
}

#OTP fieldset:not([data-enabled="false"])[data-otp="show"] {
  #hide-otp {
    visibility: visible;
  }

  #show-otp {
    visibility: hidden;
  }

  #qrcode {
    opacity: 1;
  }
}

#message { 
  width: 100%;
  grid-template-columns: 1fr;
  font-size: 0.85em;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
}

#message.visible { 
  visibility: visible;
}

.fadeIn {
  animation: fade 1s linear forwards;
  -webkit-animation-name: fade;
  animation-name: fade;
}

@keyframes fade {
   0%   { opacity: 0; visibility: hidden; }
   1%   { opacity: 0; visibility: visible; }
   50%  { opacity: 0.1;}
   100% { opacity: 1;}
} 

@-webkit-keyframes fade {
   0%   { opacity: 0; visibility: hidden; }
   1%   { opacity: 0; visibility: visible; }
   50%  { opacity: 0.1; }
   100% { opacity: 1; }
}

.fadeOut {
  animation: fadeOut 50s linear forwardss;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeOut {
   0%   { opacity: 1; }
   50%  { opacity: 0.1;}
   99%  { opacity: 0; visibility: hidden;}
   100% { opacity: 0; }
} 

@-webkit-keyframes fadeOut {
   0%   { opacity: 1;}
   50%  { opacity: 0.1; }
   99%  { opacity: 0; visibility: hidden;}
   100% { opacity: 0; }
}