div.tabular {
  overflow: auto;
  border: 1px solid $content-table-border;
  border-bottom-right-radius: 4px;
}  

div.tabular::-webkit-scrollbar {
  background: transparent;
  border-left: 2px solid $solarize-base2;
}

div.tabular::-webkit-scrollbar-track {
  background: transparent;
  border-left: 2px solid $solarize-base2;
}

div.tabular::-webkit-scrollbar-thumb {
  background: darken($solarize-base2, 10%);
  border: 2px solid $solarize-base3;
  border-radius: 10px;
}

div.tabular::-webkit-scrollbar-corner {
  background: transparent;
  border: 2px solid $solarize-base3;
}

div.tabular table  {
  background: $content-table-background;
  color: $content-table-text;
  border: none;
  border-collapse: collapse;
}

div.tabular table thead {
  position: sticky; 
  top: 0px; 
  z-index: 3;
}

div.tabular table thead th.rowheader {
  position: sticky;
  left: 0px;
}

div.tabular table thead tr th {
  background: $content-table-background-header;
  color: $content-table-text;  
  padding: 0.5rem;
  font-size: 0.9em;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

div.tabular table tbody tr {
}

div.tabular table tbody tr:nth-child(odd) {
  background: $content-table-background-odd;
}

div.tabular table tbody tr:nth-child(even) {
  background: $content-table-background-even;
}

div.tabular table tbody tr.modified {
  background: $content-table-row-modified;
}

div.tabular table tbody tr.new {
  background: $content-table-row-new;
}

div.tabular table tbody td {
  position: relative; 
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  text-align: left;
  font-size: 0.9em;
  font-weight: normal;
  font-style: normal;
}

div.tabular table tbody td.rowheader {
  position: sticky;
  left: 0px;
  z-index: 2;
}

div.tabular table tbody tr:nth-child(odd) td.rowheader {
  background: darken($content-table-background-odd,5%);
}

div.tabular table tbody tr:nth-child(even) td.rowheader {
  background: darken($content-table-background-even,5%);
}

div.tabular table tbody tr.modified td.rowheader {
  background: $content-table-row-modified;
}

div.tabular table tbody tr.new td.rowheader {
  background: $content-table-row-new;
}

div.tabular table tbody tr td input {
}

div.tabular table tbody tr td input:read-only {
  outline: none;
  border: none;
}

div.tabular table tbody tr td.modified::before {
  content: $content-table-flag;
  position: absolute;
  left: 0px;
  top: -4px;
  width: 10px;
  height: 10px;
  filter: $content-table-flag-modified;
}

div.tabular table tbody tr td.conflict::before {
  content: $content-table-flag;
  position: absolute;
  left: 0px;
  top: -4px;
  width: 10px;
  height: 10px;
  filter: $content-table-flag-conflict;
}

div.tabular table tbody tr td.pending::before {
  content: $content-table-flag;
  position: absolute;
  left: 0px;
  top: -4px;
  width: 10px;
  height: 10px;
  filter: $content-table-flag-pending;
}

div.tabular table td.conflict input {
  background-color: $content-table-item-conflict;
}

div.tabular table td span.control {
  padding: 0px 0px 0px 0px;
  font-size: 1.5rem;  
  font-weight: bold;
  visibility: hidden;
  cursor: pointer;
}

div.tabular table td span.control img {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 8px;
  margin-bottom: 0px;
  border: solid 1px #268bd2;
  border-radius: 2px;
  pointer-events: none;
}

div.tabular table td span.commit {
  color: $content-table-commit;  
}

div.tabular table td span.commit img {
  width: 12px;
  padding: 2px;
  filter: invert(58%) sepia(89%) saturate(3723%) hue-rotate(41deg) brightness(98%) contrast(101%);
}

div.tabular table td span.rollback {
  color: $content-table-rollback;  
}

div.tabular table td span.rollback img {
  width: 14px;
  height: 14px;
  padding: 1px;
  filter: invert(30%) sepia(41%) saturate(3835%) hue-rotate(344deg) brightness(89%) contrast(92%);
}

div.tabular table tbody tr.modified:not(.newish) td span.commit {
  visibility: visible;
}

div.tabular table tbody tr.modified td span.rollback {
  visibility: visible;
}

div.tabular table tbody tr.new td span.rollback {
  visibility: visible;
}

