@charset 'UTF-8';

@import '../../base/_solarize';

$content-background: $solarize-base03;

$footer-background: $solarize-base01;
$footer-text: $solarize-base03;

$fieldset-text: $solarize-base0;
$fieldset-border: 1px solid $solarize-base01;
$fieldset-button-border: 2px solid $solarize-blue;
$fieldset-message-background: $solarize-base01;
$fieldset-message-background: $solarize-base01;
$fieldset-warning-text: $solarize-base03;
